{% extends 'base.html' %}
{% block title %}About Us | Ladies stitchig service {% endblock %}
{% block content %}
  <h2>About our Service</h2>
  <p>Our professional team has a host of designers and tailors with several years of experience in their respective field.</p>

  <p><h3>We Offer Following Services</h3>
    <ul>
      <li>Designer Consultation
        Gather your dress material and have a discussion about your requirements with our lady designer.
      </li>
      <li>Pickup and Delivery
        You can focus on other important aspects of life knowing that your stitched garments will be delivered not only without a hitch but also on time.
      </li>
      <li>Express Services
        If you are in urgent need of delivery, then you can avail of the express services for handling those pressing needs.
      </li>
      <li>Bulk Orders
        We perfectly understand when you need to place bulk orders, and we make the best attempt to satisfy your requirements as efficiently as possible.
      </li>
      <li>Services to Any Part of World
        We offer the online tailoring services currently in the cities of Bangalore and Hyderabad. We are planning to expand our business into the global marketplace soon.</li>
    </ul>
    </p>
{% endblock %}
