<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Utilitytext</title>
</head>
<body>
    <h1>Welcome to text analyzer</h1>
    <form action='/analyze' method='get'>
        <lable>Enter your text Here</lable><br>
        <textarea style='margin:0px;width:721px;height: 93px;' name='text'></textarea>
        <br>
        <input type="checkbox" name="removepunc">Remove Puntuations<br>
        <button type="submit">Analyze text</button>
    
    </form>
    
</body>
</html>