<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOG IN</title>
    <script src="logIn.js">
    </script>
    <link href="login.css" type="text/css" rel="stylesheet">
</head>
<body>
    <h1>Creat ACCOUNT</h1>
        <p>
            Email Address:
            <input type="text" name="Username" size="15" maxlength="70"/>
            <br/><br/>
            Set Password:
            <input type="password" name="password" class="pswd" size="15" maxlength="70"/>
            <br/><br/>
            <button onclick="account()">Create Account</button>
        </p>
        <a href="./create.html">LOG IN</a> <br/><br/><br/>
        <a href="./mobile shop.html" id="lef">BACK TO HOME PAGE</a>    
</body>
</html>